.app-container {
  padding: 8rem 10%;
  text-align: center;
}

.calendar-table {
  max-width: 700px;
  margin: 20px auto;
  border-collapse: collapse;
}

form {
  padding: 3rem;
  display: flex;
  min-height: 20rem;
  max-width: 20rem;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
